<h1>Welcome to SneakerStats</h1>
<h3>We all love our kicks, but how do they perform IRL ?
	<br><br>
	Have your say, share the love, or hate. Do they stand up to the everyday grind, or are they so sweet you just have to keep em on ice ?<br><br>
	Something on your bucket list?<br><br> Let us know ! </h3><br>
