<h1>Welcome to SneakerStats</h1>
<h2>We all love our sneaks, but how do they perform IRL ?
	Have your say, share the love, or hate. Do they stand up to the everyday grind, or are they so sweet you just have to keep em on ice ?
	Let us know ! </h2><br>
