<h1>Like the site, or hate it? Let us know! </h1><br> Want to get involved? We need moderators. Review some kicks and reach out.<br><br>
<p><iframe src="https://docs.google.com/forms/d/1W6VicmAZeFTrfiQmJV3ARmQJ91j6segwE_wbDlsbVl0/viewform?embedded=true" width="720" height="695" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe></p>
<br><br>
Made with Love in Philly

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66931422-1', 'auto');
  ga('send', 'pageview');

</script>

