body{
 background-color: #B0B0B0  ;
 color: #5D5B5B;
}

.img {
		width: 350px; height: 263px;
		border: 2px solid red;
		border-radius:30px;
	}

.jumbotron {
  background-color: #000000;
  border: 0px solid #7CFC00;
  h2 {
      color: #7CFC00;
      font-weight: bold;
   }
}
.navbar {
    border: 0px solid transparent;
}
.navbar-default {
.border: 0px;
  .container-fluid {
    background-color: #000000;
    .navbar-nav > li > a {
      color: #7CFC00;
      font-size: 16px;
      font-weight: bold;
      
    }
    .navbar-brand {
        color: black;
        font-size: 30px;
        font-weight: bold;
        font-family: 'Rock Salt';
        text-shadow: 2px 0 0 #7CFC00, -2px 0 0 #7CFC00, 0 2px 0 #7CFC00, 0 -2px 0 #7CFC00, 1px 1px #7CFC00, -1px -1px 0 #7CFC00, 1px -1px 0 #7CFC00, -1px 1px 0 #7CFC00;        
    }
  }
}

.container-fluid {
    padding: 10px 120px;
}